<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediQor">
<!--        <activity-->
<!--            android:name=".ui.view.AddProductActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/title_activity_add_product"-->
<!--            android:theme="@style/Theme.MediQor" />-->
        <activity
            android:name=".ui.view.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MediQor" />
        <activity
            android:name=".ui.view.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.MediQor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.view.ForgotPasswordActivity"
            android:exported="true" />
        <activity
            android:name=".ui.view.DashboardActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".ui.view.RegistrationActivity"
            android:exported="false" />



        <!-- =============================================== -->
        <!-- CATEGORY ACTIVITIES -->
        <!-- =============================================== -->


        <activity
            android:name=".ui.view.category.DevicesActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.category.FamilyCareActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.category.PersonalCareActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.category.PharmacyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.category.SupplementsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.category.SurgicalActivity"
            android:exported="false" />
    </application>

</manifest>