<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:replace="android:fullBackupContent"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MediqorOG"
        tools:replace="android:fullBackupContent">
        <activity
            android:name=".view.HelpSupportActivity"
            android:name=".view.TermsOfServiceActivity"
            android:exported="false"
            android:label="@string/title_activity_terms_of_service"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.PrivacyPolicyActivity"
            android:exported="false"
            android:label="@string/title_activity_privacy_policy"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.NotificationSettingsActivity"
            android:exported="false"
            android:label="@string/title_activity_notification_settings"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.ChangePasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_change_password"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_edit_profile"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.AdminDashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_admin_dashboard"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.HelpCenterActivity"
            android:exported="false"
            android:label="@string/title_activity_help_support"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.PrescriptionsActivity"
            android:exported="false"
            android:label="@string/title_activity_prescriptions"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.SavedAddressesActivity"
            android:exported="false"
            android:label="@string/title_activity_saved_addresses"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.MyOrdersActivity"
            android:exported="false"
            android:label="@string/title_activity_my_orders"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.SurgicalActivity"
            android:exported="false"
            android:label="@string/title_activity_surgical"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.DevicesActivity"
            android:exported="false"
            android:label="@string/title_activity_devices"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.SupplementActivity"
            android:exported="false"
            android:label="@string/title_activity_supplement"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.PersonalCareActivity"
            android:exported="false"
            android:label="@string/title_activity_personal_care"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.FamilyCareActivity"
            android:exported="false"
            android:label="@string/title_activity_family_care"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.PharmacyActivity"
            android:exported="false"
            android:label="@string/title_activity_pharmacy"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.DashboardActivity"
            android:exported="false"
            android:label="@string/title_activity_dashboard"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.ForgotPasswordActivity"
            android:exported="false"
            android:label="@string/title_activity_forgot_password"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.RegistrationActivity"
            android:exported="false"
            android:label="@string/title_activity_registration"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:label="@string/title_activity_splash"
            android:theme="@style/Theme.MediqorOG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.MediqorOG" />

        <activity
            android:name=".view.CategoriesFiltersActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.OffersActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.PrescriptionUploadActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.RepeatOrdersActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.PaymentMethodsActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.OrderTrackingActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.OrderInvoicesActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.TeleConsultationActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.LabTestsActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.HealthPackagesActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
        <activity
            android:name=".view.MedicineReminderActivity"
            android:exported="false"
            android:theme="@style/Theme.MediqorOG" />
    </application>

</manifest>